
/* Cars Styles */
.carsAll_container__ {
  margin: 0 auto;
  color: white;
  height: auto;
  display: flex;
  padding-inline-start: 50px;
  padding-block-start: 30px;
  margin-bottom: 100px;
}
.cars-all-header {
  padding-left: 30px;
}
.Cars_container_main_cars2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-inline-start: 15px;
  width: 100%;
}
.Cars_container_main_car2 {
  height: 475px;
  width: 300px;
  position: relative;
  padding: 5px;
  padding-inline: 15px;
  border-radius: 15px;
  margin: 10px;
  border: 1px solid #ffffff2f;
  background: linear-gradient(338deg,rgba(41,41,41,.266) 31%,hsla(200,1%,59%,.152));
}
.Cars_container_main_car2 img {
  width: 100%;
  padding-left: 0;
}
.Cars_container_main_car_heading2 {
  border-bottom: 1.3px solid #ffffff63;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 10px;
  padding: 7px;
  padding-left: 15px;
}
.Cars_container_main_car_price_in_aed2 {
  color: #fff;
  font-family: AvertaCY, sans-serif;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  padding-left: 7px;
}
.Cars_container_main_car_price_in_usd2 {
  padding-left: 7px;
  color: #9e9a9a;
  font-size: 18px;
  font-weight: 300;
}
.Cars_container_main_car_info2_buttons2 {
  display: flex;
  justify-content: space-between;
  padding-inline: 0;
  position: absolute;
  bottom: 10px;
}
.Cars_container_main_car_info2_btn_whatsApp2 button{
  margin-right: 5px;
  cursor: pointer;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  display: flex;
  font-size: 18px;
  gap: 10px;
  margin-top: 50px;
  padding: 14px 12px;
  background-color: #00c600;
  border: none;
}
.Cars_container_main_car_info2_btn_telegram2 button {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  display: flex;
  font-size: 18px;
  gap: 10px;
  margin-top: 50px;
  padding: 14px 12px;
  background-color: #2727e0;
  border: none;
} 